.navbar {
  background-color: black;
  color: #fff;
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}
.navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
}
.navbar-nav .nav-link:hover {
  color: #ccc;
}
.integrante {
  margin-bottom: 100px;
}
.card-img-top {
  height: 371px;
  object-fit: cover;
}
body {
  background: linear-gradient(to bottom, white, #c0b7b7, #787676);
  font-family:'Times New Roman', Times, serif;
}
.botones-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.navbar-brand img {
  height: 30px;
  margin-right: 10px;
}
.titulo {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(4, 4, 95);
}