.info-container {
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.85);
    color: white;
}

.button-container {
    margin-top: 10px;
    text-align: center;
}

.button-container input[type="submit"] {
    background-color: #246c27;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button-container input[type="button"] {
    background-color: #781e18;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

body {
display: block;
background-image: url(fo2.png);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-right: 150px;
margin-left: 150px;
margin-top: 20px;
margin-bottom: 20px;
}   

h1{
    color: white;
}


    .NoMostrar {
        display: none;
    }
